<div [ngClass]="{'authComponent' : valid, 'invalidAuthComponent': !valid}" [@fade]="initialized ? 'post' : 'pre'">
    <div class="classification" >
        {{classification}}
    </div>
    <div class="authMessage" >
      {{authMessage}}
    </div>
    <img [src]="authImage" class="authImg" />
    <!-- <marquee behavior="scroll" scrollamount="1.6180" direction="up" style="height:242px; max-width: 1242px; font-size: 0.6180em; padding: 0 1.6180em">{{scrollingText}}</marquee> -->
    <section class="star-wars">
      <div class="crawl">
        <p>
          {{scrollingText}}
        </p>
      </div>
    </section>
    <div class ="authNote" [hidden]="destructTime === 0 || silentCountdown">
        {{authNote}} ({{destructTime}}s)
    </div>
    <div class="footer">
      <a (click)="toggleVideo()"><img [src]="footerImage" class="sealImg" /></a>
    </div>
    <div id="videoContainer" class="videoContainer">
      <div></div>
    </div>
    <div class="overrideMessage" [@fade]="overridePulsing ? 'post' : 'pre'">
      {{overrideMessage}}
    </div>
</div>


