.draggable {
    position: absolute;
    z-index: 3;
    cursor: grab;
}

.dragging {
    z-index: 999;
    cursor: grabbing;
    &.conflicted {
        cursor: not-allowed !important;
    }
}

.conflicted {
    background-color: #bf0202 !important;
    border-radius: 25%;
    &.off {
        background-color: transparent !important;
    }
}
.valid {
    background-color: rgb(4, 208, 4)  !important;
    border-radius: 25%;
}

.locked {
    cursor: inherit;
}
.locked:active {
    cursor: not-allowed !important;
}



.dragImage {
    width: 100%;
    height: 100%;
    opacity: 1 !important;
    border: 1px solid #e07e26;
}