<div class='draggable' [ngClass]="{'dragging': dragging, 'locked' : lock, 'conflicted': conflicted, 'valid': overValidTarget, 'off': conflictedOff}"
     [ngStyle]="{
       'width.px': width, 
       'height.px' : height,
       'z-index': z,
       'top.px' : top,
       'left.px': left, 
       'background-color': backgroundColor
      }"
      [@dropTrigger]="isTriggered ? 'open' : 'closed'" 
      [@fade]="conflictedOff && conflicted ? 'pre' : 'post'"
>
<img [src]='image'class='dragImage'
     (touchstart)="dragStart($event)"
     (touchend)="dragEnd($event)"
     (mousedown)="dragStart($event)"
     (touchmove)="handleDrag($event)"
     draggable="false"
     />
</div>
