<div class="comp" tabindex="0" (keydown)="handleKeydown($event)" (keyup)="handleKeyup($event)">
  <div class="box" [@anima_boxTop]="isOpen ? 'open' : 'closed'">
    
    <div class="pgn" [hidden]="isBrother"><a href="https://en.wikipedia.org/wiki/Omega_Chess" style="color: #101010; text-decoration: none;">{{isOpen ? answer : ''}}</a></div>
    <div class="pgn bros">{{isBrother ? hail : ''}}</div>
    
    <div class="absText" 
        (touchstart)="handleTouchStart($event)" (touchend)="handleTouchEnd($event)"
        [@anima_text]="isOpen ? 'open' : 'closed'">
        {{isOpen ? title1 : title0}}
    </div>
  </div>
  
  <app-dragable [image]="'assets/img/SuperKey.png'" [z]="10" [w]="60" [hidden]="!isBrother"></app-dragable>
  <fa-icon class="pawn" [@chessPiece]="isOpen ? 'open' : 'closed'" [icon]="faChessPawn"></fa-icon>

  <div class="box bottomBox" 
    [@anima_boxBottom]="keyInHole ? 'brokey' : (isBrother ? 'bros' : isOpen ? 'open' : 'closed')">
       <div class="keyHolePosition">
           <app-dragable [image]="'assets/img/Keyhole.png'" [w]="60" [hidden]="!isBrother"
                        [dropCallback]="handleKeyDrop" [lock]="true" [dropRoute]="secretPath">
           </app-dragable>
       </div>
   </div>
</div>